.wrapper {
  display: grid;

  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.names {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-top: 30px;
  font-weight: bolder;
  margin-left: 10px;
}
.classes {
  grid-column: 3 / 5;
  grid-row: 2;
}
.races {
  grid-column: 8;
  grid-row: 2;
}
.stats {
  grid-column: 1 / 2;
  grid-row: 2;
  padding: 5px;
  margin-left: 10px;
}

.stats:hover {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=118354"), auto;
}
.image {
  grid-column: 8 / -1;
  grid-row: 1 / 2;

  padding: 10px;
  height: 331px;
  width: 331px;

  transition: transform 0.5s;
}
.image.pop-out:hover {
  /* cursor: pointer; */
  transform: scale(1.05);
  transition: transform 0.5s;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  filter: drop-shadow(0 0 0.75rem rgb(238, 6, 52));
}

.skills {
  grid-column: 9 / -1;
  grid-row: 2 / 4;
  text-align: -webkit-right;
  text-align-last: justify;
  margin-right: 10px;
}

#skillsH3 {
  text-align-last: center;
}

.races,
.classes,
.skills {
  color: rgba(181, 30, 30, 1);
}

.nameInput,
#nameButton {
  background-color: black;
  color: red;
}
#setStats,
#urlBtn,
#nameButton:hover {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=15634"), auto;
}

.nameHeadings {
  background-color: black;
  color: red;
  font-family: "Tangerine", cursive;
  text-align: center;
}

#setStats {
  background-color: black;
  border: solid red;
  color: rgba(177, 93, 21, 1);
  text-align: center;
  border-radius: 12px;
}

body {
  background-image: url("https://cdn.wallpapersafari.com/15/10/BF5WLJ.jpg");
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=15634"), auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  top: 50%;
  left: 50%;
}

#strVal,
#dexVal,
#conVal,
#intVal,
#wisVal,
#chaVal {
  color: rgb(105, 16, 16);
  float: right;
}

#str,
#dex,
#con {
  width: 100px;
}

h3 {
  color: rgba(167, 28, 9, 0.678);
}

/* removes dots */
ul {
  list-style-type: none;
}
li,
#class-box,
#race-box,
#skill-box:hover {
  cursor: url("http://www.rw-designer.com/cursor-extern.php?id=75777"), auto;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: 200;
  color: rgb(136, 6, 27);
  text-align: center;
  line-height: 75vh;
  padding-top: 5%;
}

.splash.display-none {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: black;
  z-index: -10;
  color: rgb(136, 6, 27);
  text-align: center;
  transition: all 3s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
