.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.names {
  grid-column: 1 / 4;
  grid-row: 1;
}
.class {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
}
.race {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.stats {
  grid-template-columns: 3, 1fr;
  grid-template-rows: repeat();
  grid-column: 1 / 4;
  grid-row: 2;
}

#setStats {
  background-color: black;
  border: solid red;
  color: red;
  text-align: center;
  border-radius: 10px;
}
