.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.names {
  grid-column: 1 / 4;
  grid-row: 1;
}
.classes {
  grid-column: 2;
  grid-row: 2;
}
.races {
  grid-column: 3;
  grid-row: 2;
}
.stats {
  grid-column: 1;
  grid-row: 2;
}

#setStats {
  background-color: black;
  border: solid red;
  color: red;
  text-align: center;
  border-radius: 10px;
}

body {
  background-image: url("https://wallpaperaccess.com/full/1868712.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}
